body {
    box-sizing: border-box;
}
#index {
    background-color: white;
}

#contentIndex {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form[action="/WHSO/auth"] {
    border: 2px solid #000;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ff3333;
    box-shadow: 8px 8px 4px 4px #000;
}

form[action="/WHSO/auth"] input{ 
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

form[action="/WHSO/auth"] label {
    font-size: 22px;
    margin-top: 20px;
}

form[action="/WHSO/auth"] button {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    width: 100px;
    border-radius: 20px;
    padding: 10px;
}

form[action="/WHSO/auth"] button:hover {
    background-color: #ffe6e6;

}

#flex {
    display: flex;
    flex-direction: column;
    height: 450px;
}

#box1 {
    flex-grow: 3;
}
#box2 {
    flex-grow: 1;
    background-color: grey;
}

/* Material */
#headerMaterial {
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 12px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#headerContent {
    display: flex;
}

#headerContent #chooseButton {
    flex-grow: 1;
    position: relative;
    top: 20px;
}

#headerContent #chooseButton button {
    height: 35px;
    font-size: 12px;
}

#logout_btn {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-family: monospace;
}

#logout_btn:hover {
    font-weight: 900;
}

#headerContent #image  {
    flex-grow: 4;
    margin-top: 5px;
    margin-left: 20px;

}

#headerMaterial #image img {
    width: 150px;
    position: relative;
    left: 25px;
    top: 0;
}

#headerMaterial nav {
    width: 100%;
    height: 25px;
    margin-top: 15px;
    background-color:  #FF0063;
}

#headerMaterial nav .container {
    display: flex;
    padding: 1px;
}

#headerMaterial nav .box {
    flex-grow: 1;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
}

#headerMaterial nav .box a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0F8FF;
    text-shadow: 2px 2px 4px gray;
}

#headerMaterial nav .box a:hover {
    background-color: #ffcce0;
    text-shadow: none;
    color: black;
    position: relative;
    top: -1.5px;
}

#material {
    margin-bottom: 50px;
}

#materialSo {
    max-width: 1200px;
    margin: 0 auto 50px;
}

#allMaterial {
    margin-top: 50px;
}

#input {
    max-width: 1200px;
    margin: 150px auto 100px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 4px 8px #ddd;
    border-radius: 20px;
}


.seluruhMaterial {
    max-width: 1100px;
    box-shadow: 0 2px 10px 8px #ddd;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

table {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #f2f5f7;
}

table tr th {
    background-color: #64be7b;
    color: #fff;
    font-weight: normal;
}

table, th, td {
    padding: 10px 20px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#material h3, p {
    text-align: center;
}

#buttonEksport {
    margin-bottom: 15px;
    text-align: center;
    margin-top: -5px;
}

#buttonEksport p {
    display: inline-block;
}
#buttonEksport a, #buttonEksport button {
    display: inline-block;
    width: 80px;
    font-family: serif;
    border-radius: 15px;
    margin-right: 5px;
}

#buttonEksport button {
    box-shadow: 2px 2px 0 0 #000;
}

#buttonEksport button:hover {
    left: 3px;
    top: 3px;
    box-shadow: none;
    position: relative;
}

/* so */
.cardSo {
    box-shadow: 0 4px 8px 4px #ddd;
    padding: 20px;
    border-radius: 20px;

}

.cardSo form {
    margin-top: 10px;
}

form[action="/WHSO/prosesso"] input{
    width: 170px;
    height: 40px;
}

form[action="/WHSO/rusak"] input, 
form[action="/WHSO/rusak"] select {
    width: 140px;
    height: 40px;
}

/* doc. input  */


footer {
    padding: 20px;
    color: #ddd;
    background-color: #ff5050;
    font-family: cursive;
}

footer #us {
    float: right;
}

footer a {
    text-decoration: none;
    color: #ddd;
}

footer a:hover {
    font-weight: bolder;
    color: #ddd;
}

.hidden {
    display: none;
}